.bg-bg{
    background-color: #000000a2;
}

.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.hidden{
    display: none;
}

  /* Spinner */
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4f46e5; /* purple-700 */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* Optional loading text */
  .loading-text {
    color: white;
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
  }

  .loader-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }